* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Crimson Text', serif;
}

body {
  font-size: 18px;
  background: #fafafa;
  color: #666;
}

/* .wrap {
  display: flex;
  flex-wrap: wrap;
} */


.top {
  background:
  linear-gradient(
      rgba(255, 255, 255, 0.4), 
      rgba(255, 255, 255, 0.6)
    ),
    url(img/cosmos2.jpg);
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 100%;
  margin: 10px;
  margin-top: 20px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 8px;
}

.badge {
  font-size: 55px;
  background: black;
  text-align: center;
  border-radius: 5px;
  color: rgb(255, 255, 255, 0.4);
  font-weight: 400;
}

.name {
  font-weight: 400;
  font-size: 50px;
}

.job-title {
  margin-top: 10px;
  font-size: 25px;
  font-weight: 400;
  text-align: center;
  color: black;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px;
  color: #666;
}

.left {
  width: 45%;
  max-width: 470px;
  border-right: 1px solid #666; 
  display: flex;
  flex-direction: column;
  align-items: center;
}

.right {
  max-width: 550px; 
  display: flex;
  flex-direction: column;
  align-items: center;
}

.photo {
  margin-top: 30px;
  height: 165px;
  border: 2px solid #666;
  border-radius: 50%;
  overflow: hidden;
}

.my-photo {
  margin-top: -15px;
}

.contact {

  padding: 20px;
  line-height: 1.6;
  margin-left: 50px;
  /* border-bottom: 1px solid #666; */
}

.skills {
  width: 300px;
  padding: 20px;
  margin: 20px;
  margin-bottom: 0;
  text-align: center;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
}

ul {
  list-style-type: none;
  line-height: 1.6;
  text-align: left;
  margin-left: 82px;
}

ul li:first-child {
  margin-top: 10px;
}

h3 {
  text-transform: uppercase;
  margin-bottom: 15px;
  letter-spacing: 3px;
}

.edu {
  max-width: 400px;
  padding: 20px;
  margin: 20px;
  margin-top: 0;
  text-align: center;
  line-height: 1.6;
  /* border-top: 1px solid #666; */
}

.about-me {
  text-align: center;
  padding: 20px;
  margin: 20px;
  border-bottom: 1px solid #666;
}

.about-me p {
  margin-top: 15px;
}

.projects {
  text-align: center;
  padding: 20px;
  margin: 20px;
  margin-top: 0;
  border-bottom: 1px solid #666;
}

.projects p {
  margin-top: 15px;
}

.icons {
  display: flex;
  align-items: center;
  align-content: center;
  margin-top: 20px;
}

.icon {
  margin: 0 45px 0 45px;
}
/* 
.logo-html {
  color: #e44d26;
  text-shadow: 0 3px 3px #666;
}

.logo-js {
  color: #f0db4f;
  text-shadow: 0 3px 3px #666;
}

.logo-css {
  color: #2965f1;
  text-shadow: 0 3px 3px #666;
} */

.bottom {
  display: flex;
  justify-content: space-evenly;
  padding: 5px;
  margin: 0 10px;
  font-size: 13px;
  letter-spacing: 3px;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
}

.agreement {
  padding: 5px;
  font-size: 8px;
}